@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b6c1f0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  margin: auto;
  width: 1000px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  transition: transform 1000ms;
}

h1:hover {
  transform: skewX(-20deg)
}

table {
  color: #e2e2e2;
  padding: 10px;
  width: 100%;
}

table th,
table td {
  padding: 10px;
}

tbody tr {
  background-color: #1c223b;
  transition: background-color 500ms;
}

tbody tr:hover {
  background-color: #121b31;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

tbody tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  transform: matrix();
}

tbody tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: transform 300ms, color 300ms;
}

button:hover {
  color: green;
  transform: scale(1.2);
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #fff;
}

td a {
  width: 100%;
  height: 100%;
  display: inline-block;
}